<form id="personSearchForm">
    <input id="searchText" type="text" name="partialName"/>
    <input id="searchButton" type="button" name="submit" value="Search"/>
</form>
<br/>
<div >
    <table id="personTable"></table>
</div>