


<form id="personSearchForm">
    <input id="searchText" type="text" name="partialName"/>
    <input id="blah" type="text" value="meh" name="blah"/>
    <input id="searchButton" type="button" name="submit" value="Search"/>
</form>

<script src="~/Scripts/jquery-1.10.2.js"></script>

<script>
    $(document).ready(function() {
        $("#searchButton").on('click', function () {

            function convertFormToJson(form) {
                var formArray = form.serializeArray();
                var json = {};

                $.each(formArray, function() {
                    json[this.name] = this.value || '';
                });

                return json;
            };

            $.ajax({
                url: 'PersonSearch/SearchPeople',
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(convertFormToJson($("#personSearchForm"))),
                success: function(result) {
                    console.log(result);
                }
            });
        });
    });


</script>

