<form id="personSearchForm">
    <input id="searchText" type="text" name="partialName"/>
    <input id="blah" type="text" value="meh" name="blah"/>
    <input id="searchButton" type="button" name="submit" value="Search"/>
</form>