<form id="personSearchForm">
    <div>
        <label>Please enter a partial first or last name to search for (leave box empty for all people)</label>
    </div>
    <input id="searchText" type="text" name="partialName"/>
    <input id="searchButton" type="button" name="submit" value="Search"/>
</form>
<br/>
<div >
    <table id="personTable"></table>
</div>