table, td {
    border: 1px solid black;
}

.no-border {
    border: none;
}

.image-container {
    width: 100px;
    height: 60px;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    height: auto;
}

.loading-image {
    display: none;
}